---
import { getFirestore } from "firebase-admin/firestore";
import { app } from "../../../firebase/server";
import supabase from "../../../supabase/client";

interface Friend {
    id: string;
    name: string;
    age: number;
    isBestFriend: boolean;
}

const db = getFirestore(app);
const friendsRef = db.collection("data");
const friendsSnapshot = await friendsRef.get();
const friends = friendsSnapshot.docs.map(doc => ({
    id: doc.id,
    ...doc.data(),
})) as Friend[];

let tableHeaders = Object.keys(friends[0]);

const {
    data: { user },
} = await supabase.auth.getUser();

const {
    data: { session },
} = await supabase.auth.getSession();

if (!user || !session) {
    return Astro.redirect("/signin");
}
---

<table class="border-spacing-x-0 table table-auto">
    <thead class="flex-row items-center flex-1 w-full">
        {tableHeaders.map(header => <th class=" justify-center font-bold text-center text-black">{header}</th>)}
    </thead>
    <tbody>
        {
            friends.map(friend => (
                <tr class="hover:bg-slate-100 cursor-default">
                    <td>{friend.id}</td>
                    <td class="flex justify-center">
                        <input
                            onclick="
                            return false;
                            "
                            type="checkbox"
                            name="isBestFriend"
                            class="checkbox checkbox-accent w-5 h-5 m-0 border border-solid"
                            checked={friend.isBestFriend}
                        />
                    </td>
                    <td>{friend.age}</td>
                    <td>{friend.name}</td>
                </tr>
            ))
        }
    </tbody>
</table>

<style is:inline>
    .table tbody tr td:not(:first-child) {
        text-align: center;
    }
</style>
