---
// export const prerender = true;
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import { getFirestore } from "firebase-admin/firestore";
import supabase from "../supabase/client";

import { Prism } from "@astrojs/prism";
import Layout from "../layouts/Layout.astro";
import LocationTag from "../components/locations/LocationTag.astro";

const auth = getAuth(app);

const { data, error } = await supabase.auth.getSession();
const sessionCookie = Astro.cookies.get("session_token").value;

const {
    data: { user },
} = await supabase.auth.getUser(sessionCookie);

if (!user || !sessionCookie) {
    console.log("here");

    return Astro.redirect("/signin");
}

/* Check current session */
const sessionCookieFormatted = sessionCookie?.match(/.{1,80}/g)?.join("\n") ?? "error.";

/* DATABASE QUERY */
interface Friend {
    id: string;
    name: string;
    age: number;
    isBestFriend: boolean;
}

const db = getFirestore(app);
const friendsRef = db.collection("data");
const friendsSnapshot = await friendsRef.get();
const friends = friendsSnapshot.docs.map(doc => ({
    id: doc.id,
    ...doc.data(),
})) as Friend[];
---

<Layout title="dashboard">
    <h1>Welcome {user.displayName}</h1>
    <p>We are happy to see you here.</p>
    <h3 style="margin-bottom: 2px;">SessionID Cookie:</h3>
    <Prism code={sessionCookieFormatted} />
    <h3>User Claims</h3>
    <!-- <Prism code={`${claims}`} /> -->

    <form action="/api/auth/signout">
        <button type="submit">Sign out</button>
    </form>

    <br />

    <LocationTag borderColor="#FFFF00" tagColor="#e7689c">SnowFlake</LocationTag>

    <h1>Friends</h1>
    <ul>
        {
            friends.map(friend => (
                <li>
                    <a href={`/data/${friend.id}`}>{friend.name}</a>
                    <span>({friend.age})</span>
                    <strong>{friend.isBestFriend ? "Bestie" : "Friend"}</strong>
                    <a href={`/edit/${friend.id}`}>Edit</a>
                </li>
            ))
        }
    </ul>
</Layout>../supabase/client
